<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Clientes</title>
    <link rel="stylesheet" href = "{{url_for('static', filename='css/estilos.css')}}">
</head>
<body>
    <header class = "encabezado">
        <h1>Sistema de gestion de clientes</h1>
        <p>CRUD web conectado a MYSQL mediante python y Flask </p>
    </header>
    <main class="contenedor">
        {% with mensajes= get_flashed_messages() %}
            {% if mensajes %}
                <div class = "mensajes">    
                    {% for mensajes in mensajes %}
                        <p>{{mensaje}}</p>
                    {% endfor%}
                </div>
            {% endif %}
        {% endwith %}

        {% block contenido %} {%endblock%}

    </main>
    <flooter class="pie">
        <p>Proyecto didactico Python + MYSQL + FLASK</p>
    </flooter>
</body>
</html>