<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Formulario Flask</title>

    <!-- Conexión con archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

    <div class="contenedor">

        <h1>Registro de Usuario</h1>

        <!-- Formulario -->
        <form id="formulario" action="/guardar" method="POST">

            <label>Nombre:</label>

            <input type="text"
                   name="nombre"
                   id="nombre"
                   required>

            <label>Correo:</label>

            <input type="email"
                   name="correo"
                   id="correo"
                   required>

            <button type="submit">
                Enviar
            </button>

        </form>

    </div>

    <!-- Conexión con archivo JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
